<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://colonias.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>colonias.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>colonias</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$colonias</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbgecopeConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=dbservergecope.database.windows.net;Initial Catalog=dbgecope;Persist Security Info=True;User ID=admgecope;Password=Pwd@2016" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=dbservergecope.database.windows.net;Initial Catalog=dbgecope;Persist Security Info=True;User ID=admgecope;Password=Pwd@2016" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbgecopeConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=dbservergecope.database.windows.net;Initial Catalog=dbgecope;Persist Security Info=True;User ID=admgecope;Password=Pwd@2016" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbgecopeConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=dbservergecope.database.windows.net;Initial Catalog=dbgecope;Persist Security Info=True;User ID=admgecope;Password=Pwd@2016</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>