<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>causalvadorhotmail.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gecope.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gecope.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Gecope</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Gecope</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://causalvadorhotmail.onmicrosoft.com/WebApp-gecope.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>0bc2cdc6-8b2d-48b2-bdac-ae1e36555c96</ADClientAPPID>
    <ADClientPassword>K1MabgLvvRueh6pZPgXkfw0SjRp5y5sbJwfc1FKFVIg=</ADClientPassword>
    <ADReplyUrl>https://gecope.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>185a6401-5514-4b4e-8863-b17e1ccbd2bf</ADTenantId>
    <ADPostLogoutRedirectUri>https://gecope.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
</Project>